#book_choice_title{
    color : #036b3f;
    font-size: 60px;
    font-weight:bold;
    margin-left : 80px;
    font-family: 'Baloo 2', 'sans-serif', 'monospace';
    padding-top:80px;
    height : 100px;
}
#book_choice_board{
    background-color : #036b3f;
    width : 1350px;
    height : 400px;
    padding-top:5px;
    padding-bottom:30px;
    margin-left: auto;
    margin-right: auto;
}

.book_choice_list{
    display : flex;
    flex-wrap : wrap;
    align-items:flex-start;
    margin : 30px 40px;
}

.book_choice_list img{
    /*width : calc(33.333%-10px);*/
    margin:25px auto;
    transition: transform 0.3s ease;
}

[type=radio]{
    position:absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.book_choice_list img:active{
    cursor: pointer;
}

.book_choice_list img:hover{
    cursor: pointer;
    /*border: 10px solid #ffcc4c;*/
    transform: scale(1.1);
}

.clicked{
    border: 10px solid #ffcc4c;
    height : 290;
    box-sizing: border-box;
}

.book_choice_list img:nth-of-type(4n),
.book_choice_list img:last-child{
    margin-right:30px;
}

#book_choice_refresh{
    position: absolute;
    left: 0;
    margin-left : 200px;
}

#book_choice_refresh:hover{
    transform: scale(1.1);
}

#book_choice_select{
    position: absolute;
    right: 0;
    margin-right : 200px;
}

#book_choice_select:hover{
    transform: scale(1.1);
}

#book_choice_logout_or_back{
    position: relative;
    height:132px;
    width:324px;
    margin : 0 auto;
    font-family: 'Baloo 2', sans-serif, monospace;
    color: #FF8E00;
}

#book_choice_dialog{
    width: 768px;
    height: 450px;

    position: absolute;
    /* width: 20.33cm;
    height: 11.89cm; */
    left: 360px;
    top: 200px;
    text-align: center;
    overflow: hidden;
    border-radius: 90px;
    border-color: #036b3f;
    border-width: 7px;
}

#book_choice_seconds{/*5초후..*/
    font-size: 50px;
    color:#807474;
    margin-bottom: 30px;
    font-family: 'Baloo 2', sans-serif, monospace;
}

#dialog_title{
    font-size: 60px;
    margin:10px auto;
    font-family: 'Baloo 2', sans-serif, monospace;
}

#book_choice_dialog {
    width: 768px;
    height: 450px;

    position: absolute;
    /* width: 20.33cm;
    height: 11.89cm; */
    left: 50%;
    top: 0;
    margin-left: -384px;
    margin-top: 255px;
    text-align: center;
    overflow: hidden;
    border-radius: 90px;
    border-color: #036b3f;
    border-width: 7px;
   
  }
  #dialog_title {
    font-size: 60px;
    margin: 10px auto;
  }