
  
  #login_wrapper {
    text-align: center;
    top: 0;
    display: grid;
    grid-template-rows: 400px 100px 250px;
    place-items: center;
  }
  
  #title {
    text-align: center;
    font-size: 90px;
    width: auto;
    margin: 30px;
    max-height: 100%;
    align-self: end;
  }
  
  #id_field {
    position: relative;
    display: block;
    max-height: 100%;
    padding-right: 20px;
  }
  
  #id_field > input {
    width: 17.07cm;
    height: 1.38cm;
    font-size: 28px;
    border-radius: 50px;
    border: none;
    bottom: 0;
    padding-left: 20px;
  }
  
  #input_deco {
    position: absolute;
    right: 0;
  }
  
  #submit {
    align-self: start;
  }
  
  #start_login_btn {
    text-align: center;
    max-height: 100%;
  }
  
  #check_id_dialog {
    width: 768px;
    height: 450px;

    position: absolute;
    /* width: 20.33cm;
    height: 11.89cm; */
    left: 50%;
    top: 0;
    margin-left: -384px;
    margin-top: 255px;
    text-align: center;
    overflow: hidden;
    border-radius: 90px;
    border-color: #036b3f;
    border-width: 7px;
   
  }
  
  #dialog_id {
    font-size: 50px;
    color: #807474;
    margin-bottom: 30px;
  }
  
  #dialog_title {
    font-size: 60px;
    margin: 10px auto;
  }
  
  #dialog_info {
    font-size: 30px;
    margin: 0 auto;
  }
  
  #dialog_btn_form {
    position: relative;
    height: 150px;
  }
  
  #back_btn {
    position: absolute;
    left: 0;
    margin-top: 25px;
  }
  
  #login_btn {
    position: absolute;
    right: 0;
    margin-top: 25px;
  }