* { padding: 0; margin: 0; }
* { font-family: 'Baloo 2', sans-serif, monospace; color: white;}

#achievementsHalfPanel{
    background-color: #87AA77;
    width: 600px;
    left: 100px;
}

#challengeHalfPanel{
    background-color: #5E976A;
    width: 600px;
    right: 100px;
}

.badgeBack{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 282px;
    object-fit: contain;
}
#badgeBack1{
    left: 75px;
}
#badgeBack2{
    left: 250px;
}
#badgeBack3{
    left: 420px;
}

.bookBack{
    width: 100px;
    height: auto;
    position: absolute;
    top: 457px;
    object-fit: contain;
}
#bookBack1{
    left: 75px;
}
#bookBack2{
    left: 250px;
}
#bookBack3{
    left: 420px;
}

#bookTitleMain{
    font-size: 40px;
    text-align: center;
    width: 600px;
    position: absolute;
    top: 170px;
}

#challengeBack{
    position: absolute;
    top: 250px;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    background-size: contain;
    object-fit: contain;
}

#refreshBtn{
    position: absolute;
    top: 250px;
    left: 490px;
}

.btnMain{
    position: absolute;
    bottom: 40px;
    left: 138px;        
}