#quizpanel{
    width: 33cm;
    background-color: #5e976a;
    left: 90px;
}
#challenge{
    text-align: left;
    margin-bottom: 20px;
}
#booktitle{
    font-size: 35px;
    margin-left: 45px;
    color: #FFFFFF;
}
#btnLogout{
    font-family: 'Baloo 2', 'sans-serif', 'monospace';
    color: white;
}
.answerimg{
    width: 295px;
    height: 200px;
    position: absolute;
    top: 250px;
}
#answer1{
    left: 20px;
}#answer2{
    left: 324px;
}
#answer3{
    right: 324px;
}
#answer4{
    right: 20px;
}
.quizimg{
    position: absolute;
    width: 200px;
    height: 150px;
    top: 500px;
}
#quiz1{
    left: 212px;
}
#quiz2{
    left: 420px;
}
#quiz3{
    right: 420px;
}
#quiz4{
    right: 212px;
}

.dialog{
    position: absolute;
    width: 21cm;
    height: 12cm;
    left: 225px;
    top: 220px;
    display:none;
}

#backbtn{
    position: absolute;
    top: 700px;
    left: 70px;
}
#submitbtn{
    right: 70px;
    top: 700px;
    position: absolute;
}
#homebtn, #nextbtn{
    position: absolute;
    bottom: 220px;
    left: 670px;
    display:none;
}
.DialogDiv p{
    font-family: 'Baloo 2', 'sans-serif', 'monospace';
    color: #046C3C;
    font-size: 100px;
    position: absolute;
    left: 250px;
    display:none;
}