/* result page style */
*{
  color: white;
  font-family: 'Baloo 2', 'sans-serif', 'monospace';
}
#result_title{
  font-size: 80px;
}
#result_wrapper {
    text-align: center;
    position: relative;
  }

  .nullBadge {
    width: 20px;
    height: 20px;
  }
  
  #badge_board {
    position: absolute;
    width: 1200px;
    margin: 0;
    right: 120px;
    left: 120px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    bottom: 0;
    background-color: #87aa77;
  }
  
  #result_title {
    width: 12.3cm;
    height: 5.3cm;
    display: block;
    margin: 0 auto;
  }
  #newdiv{
    display: inline-block;
    position: absolute;
    top:270px;
    right:100px;
    font-size: 40px;
    color: #e95c73;
  }
  #collection {
    width: 13cm;
    height: 13cm;
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
    margin-right: 105px;
  }
  
  #new_badge_zone {
    display: inline-block;
  }
  @keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-15px); }
    50% { transform: translateY(15px); }
    75% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
  }
  
  .btnshake {
    animation: shake 1.0s infinite;
  }

  #result_next_btn {
    display: block;
    margin: 15px auto 0 auto;
  }
  @keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-15px); }
    50% { transform: translateY(15px); }
    75% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
  }
  
  #newbadge_move {
    animation: shake 1s infinite;
  }