#book_choice_body{
    background-color : #a4c396;
    height : 100%;
    /*margin : 80px;*/
}
#book_choice_title{
    color : #036b3f;
    font-size: 60px;
    margin-left : 80px;
    margin-top : 40px;
}
#book_choice_board{
    background-color : #036b3f;
    width : 1350px;
    height : 400px;
    margin-left : 80px;
}
#book_choice_wood{
    margin : 0px;
    float:left;
}
.book_choice_list{
    display : flex;
    flex-wrap : wrap;
    align-items:flex-start;
    margin : 30px 0;
}

.book_choice_list img{
    width : calc(33.333%-10px);
    margin:25px auto;
    padding : 15px;
    
}

.book_choice_list img:nth-of-type(4n),
.book_choice_list img:last-child{
    margin-right:30px;
}
@media screen and (max-width : 640px){
    .book_choice_list img{
        width:calc(50% - 15px);
    }
}

@media screen and (max-width : 480px){
    .book_choice_list img:nth-of-type(2n){
        margin-right:0;
    }
    .book_choice_list:nth-of-type(3n){
        margin-right:0;
    }
    .book_choice_list:nth-of-type(4n){
        margin-right:0;
    }
}

#book_choice_footer{
    margin:auto;
    position:relative;
}

#book_choice_refresh{
    margin-left : 200px;
    height:130px;
    width:320px;
}

#book_choice_select{
    height:130px;
    width:320px;
    float:right;
    margin-right : 200px;
}

#book_choice_refresh_text{
    color:#FF8E00;
    font-size:40pt;
    font-weight:bold;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-280%,-40%);
}

#book_choice_select_text{
    color:#FF8E00;
    font-size:40pt;
    font-weight:bold;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(225%,-40%);
}