#book_choice_body{
    margin: 0 auto;
	width: 1440px;
	background-color: #6c9658;
}
.page{
    background-color: #a4c396;
    width: 1440px;
    height: 960px;
}

#book_choice_title{
    color : #036b3f;
    font-size: 60px;
    font-weight:bold;
    margin-left : 80px;
    padding-top:40px;
}
#book_choice_board{
    background-color : #036b3f;
    width : 1350px;
    height : 400px;
    padding-top:5px;
    padding-bottom:30px;
    margin-left: auto;
    margin-right: auto;
}

.book_choice_list{
    display : flex;
    flex-wrap : wrap;
    align-items:flex-start;
    margin : 30px 40px;
}

.book_choice_list img{
    width : calc(33.333%-10px);
    margin:25px auto;
}

[type=radio]{
    position:absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.book_choice_list img:active{
    cursor: pointer;
    border: 10px solid #ffcc4c;
}

.clicked{
    border: 10px solid #ffcc4c;
    width:"230";
}

.book_choice_list img:nth-of-type(4n),
.book_choice_list img:last-child{
    margin-right:30px;
}
@media screen and (max-width : 640px){
    .book_choice_list img{
        width:calc(50% - 15px);
    }
}

@media screen and (max-width : 480px){
    .book_choice_list img:nth-of-type(2n){
        margin-right:0;
    }
    .book_choice_list:nth-of-type(3n){
        margin-right:0;
    }
    .book_choice_list:nth-of-type(4n){
        margin-right:0;
    }
}

#book_choice_button{
    margin:50px auto;
    position:relative;
}

#book_choice_refresh{
    margin-left : 200px;
    height:132px;
    width:324px;
}

#book_choice_refresh:hover{
    transform: scale(1.1)
}

#book_choice_select{
    height:132px;
    width:324px;
    float:right;
    margin-right : 200px;
}

#book_choice_select:hover{
    transform: scale(1.1);
}


#book_choice_logout{
    float:right;
    width:150px;
    height:60px;
    margin:0;
}